@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    padding: 0;
    margin: 0;
}
body {
   font-family: "Poppins", sans-serif;
   background-color: beige;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;

}

.sam {
     width:70%;    
     height: 6vh;
     border-radius: 5px;
     margin: 5px;
     outline: none;
     border: none;
     padding-left: 15px;
     background-color:#e0e2e2;
     border-bottom: 5px transparent;
} 
.cont h3 {
   font-size: 30px;
   color: azure;
}

form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* height:50vh; */
width:25vw;
gap:0.6rem;
/* background-color:white ; */
}
.cont{
/* height:60vh; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 5%;
background: #1f4037;
   background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
   background: linear-gradient(to right, #99f2c8, #1f4037);
   padding-bottom: 20px;
   padding-top: 10px;
}

.saam {
background-color: rgb(55, 147, 55);
width:40%;
cursor: pointer;

}
.saam:hover {
background-color: rgb(90, 158, 90);
}
.shadow {
box-shadow:
2.8px 2.8px 3.2px rgba(0, 0, 0, 0.02),
6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
100px 100px 80px rgba(0, 0, 0, 0.07);
}

input:focus{
border-bottom: 2px solid rgb(10, 11, 10);  
}
a {
font-size: 20px;
text-decoration: none;
color: green;
}

.sm {
   width:40%;    
   height: 6vh;
   border-radius: 5px;
   margin: 5px;
   outline: none;
   border: none;
   padding-left: 1px;
   background-color:green;
   border-bottom: 5px transparent;
   color: beige;
} 