 .body1 {
    height: 200vh;
    /* margin-top:100px; */
 }  
 .image1 {
    height:600px;
    width:85%;
    border-radius:10px;
    margin-left: 110px;
    margin-top:40px
 }

 .why-homelane {
   margin-top: 60px;
   display:flex;
   justify-content: center;
   align-items: center;
 }